.box {
    width: 90%;
    background-color: #ffffff;
    height: auto;
    border: 1.5px solid #b9b9b9;
}

.box-2 {
    width: 90%;
    background-color: #ffffff;
    height: auto;
    border: 1.5px solid #b9b9b9;
    border-top: none;
}

.search-icon {
    width: 15px;
    height: 15px;
    margin-top: 8px;
    margin-left: 10px;
}

.inp-search {
    width: 300px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 1.5px solid #b9b9b9;
    padding-left: 30px;
    color: #242424;
}

.font-small {
    font-size: 15px;
}

.font-smaller {
    font-size: 13px;
}

.font-lg {
    font-size: 16px !important;
}

.btn-filter {
    border: 1.5px solid #b9b9b9;
    color: #242424;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: white;
    padding-right: 30px;
}

.filter-icon {
    width: 15px;
    height: 12px;
    right: 10px;
    margin-top: 10px;
}

.btn-add {
    border: none;
    background-color: #ffd34e;
    color: #060e7a;
    text-decoration: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.count-info {
    border: 1.5px solid #233dff;
    width: 130px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.text-count {
    color: #233dff;
}

table {
    border-radius: 10px !important;
    overflow: hidden;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -o-border-radius: 10px !important;
}

table,
th,
td {
    border-left: 2px solid #7b7b7b !important;
    border-right: 2px solid #7b7b7b !important;
    border-top: 1.5px solid #7b7b7b !important;
    border-bottom: 1.5px solid #7b7b7b !important;
}

table tr:nth-child(odd) {
    background-color: #d3daff;
}

table tr:nth-child(even) {
    background-color: #ffffff;
}

.t-head {
    color: white;
    background-color: #1121b7 !important;
}

.th {
    padding-top: 10px;
    padding-bottom: 10px;
}

.title,
.jdl,
.slug {
    width: 22%;
}

.date {
    width: 12%;
}

.aksi {
    width: 18%;
}

.photo {
    width: 10%;
}

.name {
    width: 35%;
}

.profile {
    width: 45%;
}

.fb {
    color: black;
}

.edit-icon {
    width: 20px;
    height: 20px;
    left: 14px;
    top: 2px;
}

.btn-edit {
    border: none;
    color: #060e7a;
    background-color: #a6b4ff;
    text-decoration: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding-left: 40px;
    padding-right: 10px;
}

.trash-icon {
    width: 20px;
    height: 20px;
    left: 14px;
    top: 2px;
}

.btn-delete {
    border: none;
    color: white;
    background-color: #f07b62;
    text-decoration: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding-left: 40px;
    padding-right: 10px;
}

.photo-data {
    width: 50px;
    height: 50px;
}

@media screen and (max-width: 933px) {
    .inp-search {
        width: 250px;
    }
}

@media screen and (max-width: 875px) {
    .inp-search {
        width: 200px;
    }
}

@media screen and (max-width: 530px) {
    .font-small {
        font-size: 12px;
    }

    .font-lg {
        font-size: 15px;
    }

    .box,
    .box-2 {
        width: 100%;
    }

    .photo-data {
        width: 40px;
        height: 40px;
    }
}

@media screen and (max-width: 498px) {
    .inp-search {
        width: 150px;
    }

    .font-small {
        font-size: 10px;
    }

    .font-lg {
        font-size: 11px !important;
    }

    .font-smaller {
        font-size: 8px;
    }

    .filter-icon {
        width: 10px;
        height: 10px;
    }

    .trash-icon,
    .edit-icon {
        width: 13px;
        height: 13px;
        top: 5px;
        left: 7px;
    }

    .btn-delete,
    .btn-edit {
        padding-left: 25px;
    }

    .photo-data {
        width: 30px;
        height: 30px;
    }
}
