/* HEADER */
div .container-fluid {
    background: rgb(96, 121, 253);
    background: linear-gradient(
        270deg,
        rgba(96, 121, 253, 0) 24%,
        rgba(93, 118, 253, 0.35518520152201505) 32%,
        rgba(95, 120, 253, 1) 45%
    );
    color: white;
    padding: 5rem;
    position: relative;
}

div .container-fluid img {
    max-width: 40rem;
    position: absolute;
    top: 60%;
    right: 0rem;
    transform: translateY(-50%);
    z-index: -1;
}

.background {
    position: absolute;
}
.left {
    top: 22rem;
    left: 0rem;
}

.right {
    top: 14.5rem;
    right: 0px;
    z-index: -1;
}

#swiper-slide {
    margin-top: 50px;
    overflow: visible;
    border-radius: 0.5rem;
    width: 100%;
    height: 30rem;
    margin-bottom: 50px;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat;
}
.bg-btn {
    background-color: #ffe17a;
    color: #180b7a;
    font-weight: bold;
    border: none;
}
.bg-btn:hover {
    background-color: #233dff;
    color: white;
    transition: 0.3s ease-in-out;
}

/* .konseling-img {
    max-width: 100%;
    width: auto !important;
    max-height: 100%;
    height: auto;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat;
    background: linear-gradient(200deg, rgba(255, 255, 255, 0) 0%, #233dff 100%),
        url("/assets/img/konseling/popup/layanan-konseling1.jpeg");
} */
.ellipse {
    width: 20px;
    height: 20px;
    background-color: #233dff;
    border-radius: 100%; /* Membuat elips horizontal */
}
.text-konseling {
    font-size: 12px;
    font-weight: light;
    color: #ffe17a !important;
}
.bg-konseling {
    background: rgba(35, 61, 255, 0.2);
}
.bg-cardkonseling {
    background: rgba(255, 225, 122, 1);
}
.bg-cardkonseling p {
    color: #060e7a !important;
}
/* .img-layananKonseling {
    flex: 1;
    object-fit: contain;
    background-repeat: no-repeat;
    border-radius: 10px;
    height: 70%;
    color: rgb(235, 224, 14);
    background: linear-gradient(rgba(255, 255, 255, 0) rgba(35, 61, 255, 1));
} */
@media (min-width: 1600px) {
    div .container-fluid {
        padding: 5rem 15rem;
        height: 31.9rem;
        position: relative;
    }

    div .container-fluid img {
        max-width: 65rem;
        width: 65rem;
        top: 75%;
        right: 0rem;
        transform: translateY(-50%);
        z-index: -1;
    }
}
/* END HEADER */
/* CONTENT */
span {
    color: #233dff;
}

/* Tanya Admin Start */
.btn-tanya {
    color: #233dff;
    padding: 10px 30px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: #fff;
}

.btn-tanya:hover {
    background-color: #233dff;
    color: #fff;
}
/* Tanya Admin End */

/* RESPONSIVE */
@media only screen and (max-width: 800px) {
    /* For tablets: */
    div .container-fluid {
        padding: 2rem;
    }
    div .container-fluid img {
        right: -8rem;
    }
    .left {
        top: 15rem;
        left: 0rem;
    }

    .right {
        top: 14.5rem;
        right: 0px;
        z-index: -1;
    }
}
@media only screen and (max-width: 500px) {
    /* For mobile phones: */
    div .container-fluid {
        background: rgb(96, 121, 253);
        background: linear-gradient(
            280deg,
            rgba(96, 121, 253, 0) 24%,
            rgba(93, 118, 253, 0.35518520152201505) 32%,
            rgba(95, 120, 253, 1) 45%
        );
        color: inear-gradient(
            360deg,
            rgba(96, 121, 253, 0) 24%,
            rgba(93, 118, 253, 0.35518520152201505) 32%,
            rgba(95, 120, 253, 1) 45%
        );
        padding: 2rem;
        position: relative;
    }
    div .container-fluid img {
        right: -40%;
        width: 150%;
        top: 73%;
    }
    .text-konseling {
        font-size: 14px;
        font-weight: light;
    }
    .col-md-6 .img-konseling {
        height: 100%;
        width: 100%;
    }
}

/* caurosel */
:root {
    --swiper-navigation-size: 25px !important;
}

.contents {
    padding: 0 100px;
}

.slide-container {
    height: fit-content;
}

.slide-container h2 {
    color: blue;
    margin-bottom: 10px;
    font-size: 30px;
}

.slide-container p {
    color: rgb(92, 92, 92);
}

.swiper-slide {
    margin-top: 50px;
    background: var(--secondary);
    overflow: visible;
    padding: 15px;
    margin-bottom: 50px;
}

.swiper-slide span {
    font-size: 14px;
    color: black;
}

.slide-container .swiper-pagination-bullet {
    width: 50px;
    height: 5px;
    background-color: #233dff;
    opacity: 1;
    border-radius: 0px;
    margin: 0 !important;
}

.slide-container .swiper-pagination-bullet-active {
    background-color: #ffe17a;
}

.s-btn {
    padding: 17px;
    border-radius: 5px;
}

.swiper-button-next {
    position: absolute !important;
    top: 35px !important;
    background-color: blue;
    color: white !important;
    border: 3px solid blue;
}

.swiper-button-prev {
    position: absolute !important;
    top: 35px !important;
    left: 91.7% !important;
    border: 3px solid blue;
}

@media (max-width: 1000px) {
    .contents {
        padding: 0 30px;
        text-align: center;
    }

    .swiper-button-next {
        display: none !important;
    }

    .swiper-button-prev {
        display: none !important;
    }
    .col-md-6 .img-konseling {
        height: 18rem;
        width: 100%;
    }
}

@media (min-width: 1000px) {
    .card .card-text {
        font-size: 1.5em;
    }
    .col-md-6 .img-konseling {
        height: 100%;
        width: 100%;
    }
}
@media (min-width: 567px) {
    .modal-dialog {
        max-width: 80% !important;
    }
}

.bg-card-custom {
    background: linear-gradient(0deg, #354399 0%, #a6b4ff 100%);
    position: relative;
}
.bg-body-custom {
    background-color: #ffe17a;
    width: 100%;
}

/* .bg-card-custom {
    background: rgb(89, 111, 255);
    background: linear-gradient(
        135deg,
        rgba(89, 11, 255, 1) 29%,
        rgba(255, 255, 255, 1) 28%,
        rgba(255, 255, 255, 1) 32%,
        rgba(254, 225, 121, 1) 32%
    );
    position: relative;
} */

/* .bg-card-custom::after {
    content: "";
    background-image: url("../assets/img/konseling/bg-macam-konseling.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: 20%;
    position: absolute;
    top: 0;
    left: 80%;
} */

@media (max-width: 767px) {
    .bg-card-custom::after {
        background-size: 50vw;
        left: 47%;
        top: 40%;
        z-index: 0;
    }
    .bg-card-custom img {
        position: relative;
        z-index: 1;
    }
    .col-md-6 .img-konseling {
        height: 18rem;
        width: 100%;
    }
}

/* POPUP */

.popup p {
    font-size: 1.2em;
    height: 15em;
}
.popup {
    color: yellow;
}
.button-popup {
    width: 25em;
}

.list-popup {
    position: relative;
    width: 75%;
}
.list-popup li {
    list-style-type: none;
}
.list-popup li::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #0623f8;
    left: 20px;
    border-radius: 30px;
}

.--bg-1 {
    background: url("../assets/img/konseling/popup/pop-1.jpg") no-repeat;
    background-size: 100% 110vh;
    height: 110vh;
    width: 30em;
}
.--bg-2 {
    background: url("../assets/img/konseling/popup/pop-2.jpg") no-repeat;
    background-size: 100% 110vh;
    height: 110vh;
    width: 30em;
}

@media (max-width: 1000px) {
    .popup p {
        height: 20em;
    }
    .--bg-1,
    .--bg-2 {
        width: 100%;
        background-size: 100% 140vh;
        height: 140vh;
    }
}

@media (max-width: 500px) {
    .popup p {
        font-size: 1em;
        height: 23em;
    }

    .button-popup {
        width: 100%;
    }

    .list-popup {
        width: 100%;
    }
}
