#ubah-password{
  height: 100vh;
}
.bg{
    height: 300px;
    background-color: #5A74FD;
    position: relative;
}
.wrapper{
  width: 540px;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 10px;
  position: absolute;
  top: 150px;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
}
.btn-submit{
    background-color: #233DFF;
}
.btnKembali{
  display: block;
  text-align: center;
  text-decoration: none;
  color: #9AA2B1;
}
@media screen and (max-width: 762px) {
  .wrapper{
    width: 100%;
  }
}