.box {
    width: 90%;
    background-color: #ffffff;
    height: auto;
    border: 1.5px solid #b9b9b9;
}

.box-2 {
    width: 90%;
    background-color: #ffffff;
    height: auto;
    border: 1.5px solid #b9b9b9;
    border-top: none;
}

.font-small {
    font-size: 15px;
}

.font-smaller {
    font-size: 13px;
}

.font-lg {
    font-size: 16px !important;
}

.search-icon {
    width: 15px;
    height: 15px;
    margin-top: 8px;
    margin-left: 10px;
}

.inp-search {
    width: 300px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 1.5px solid #b9b9b9;
    padding-left: 30px;
    color: #242424;
}

.btn-filter {
    border: 1.5px solid #b9b9b9;
    color: #242424;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: white;
    padding-right: 30px;
}

.filter-icon {
    width: 15px;
    height: 12px;
    right: 10px;
    margin-top: 10px;
}

.btn-add {
    border: none;
    background-color: #ffd34e;
    color: #060e7a;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.count-info {
    border: 1.5px solid #233dff;
    width: 130px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.text-count {
    color: #233dff;
}

table {
    border-radius: 10px !important;
    overflow: hidden;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -o-border-radius: 10px !important;
}

table,
th,
td {
    border-left: 2px solid #7b7b7b !important;
    border-right: 2px solid #7b7b7b !important;
    border-top: 1.5px solid #7b7b7b !important;
    border-bottom: 1.5px solid #7b7b7b !important;
}

table {
    background-color: #ffffff;
}

.t-head {
    color: white;
    background-color: #1121b7 !important;
}

.th {
    padding-top: 10px;
    padding-bottom: 10px;
}

.fb {
    color: black;
}

.photo,
.detail {
    width: 40px;
}

.email,.name, .pendidikan {
    width: 180px;
}

.profile {
    width: 270px;
}

.img-psy {
    width: 50px;
    height: 50px;
}

.edit-icon {
    width: 15px;
    height: 15px;
    left: 10px;
    top: 6px;
}

.btn-edit {
    border: none;
    color: #060E7A;
    background-color: #A6B4FF;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding-left: 30px;
    padding-right: 10px;
}

.trash-icon {
    width: 15px;
    height: 15px;
    left: 10px;
    top: 6px;
}

.btn-delete {
    border: none;
    color: white;
    background-color: #F07B62;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding-left: 30px;
    padding-right: 10px;
}

@media screen and (max-width: 643px) {
    .box, .box-2 {
        width: 100%;
    }
}

@media screen and (max-width: 579px) {
    .font-small {
        font-size: 12px;
    }
    
    .font-smaller {
        font-size: 10px;
    }

    .inp-search {
        width: 250px;
    }

    .count-info {
        width: 100px;
    }
}

@media screen and (max-width: 505px) {
    .trash-icon, .edit-icon {
        width: 10px;
        height: 10px;
    }

    .btn-edit, .btn-delete {
        padding-left: 25px;
    }

    .filter-icon, .search-icon {
        width: 12px;
        height: 12px;
    }

    .inp-search {
        width: 200px;
    }
}

@media screen and (max-width: 457px) {
    .font-small {
        font-size: 10px;
    }
    
    .font-smaller {
        font-size: 8px;
    }

    .trash-icon, .edit-icon {
        width: 8px;
        height: 8px;
    }

    .filter-icon, .search-icon {
        width: 10px;
        height: 10px;
    }

    .btn-edit, .btn-delete {
        padding-left: 20px;
    }

    .inp-search {
        width: 150px;
    }

    .count-info {
        width: 80px;
    }

    .img-psy {
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-width: 380px) {
    .search-icon, .filter-icon {
        width: 8px;
        height: 8px;
    }

    .search-icon {
        top: 2px;
    }

    .inp-search {
        padding-left: 20px;
        width: 130px;
    }

    .btn-filter {
        padding-right: 20px;
    }
}
