* {
    font-family: "Rubik", sans-serif;
    text-decoration: none !important;
}

.wrapper {
    height: 50vh;
    padding-top: 7rem;
    max-width: 800px !important;
    margin: auto !important;
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    padding: 0;
    color: black;
}

#progressbar .active {
    color: black;
    font-weight: bold;
}

#progressbar li {
    list-style-type: none;
    font-size: 13px;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400;
}

#progressbar #step:before {
    content: attr(data-content);
}

#progressbar #step.finish:before {
    content: "✔";
}

#progressbar li:before {
    width: 40px;
    height: 40px;
    line-height: 35px;
    display: block;
    font-size: 15px;
    border: solid 3px #3959a5;
    color: #3959a5;
    background: white;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px;
}

#progressbar li:after {
    content: "";
    width: 100%;
    height: 2px;
    background: #3959a5;
    position: absolute;
    left: 100%;
    transform: translateX(-50%);
    top: 20px;
    z-index: -1;
}

#progressbar li:last-child:after {
    display: none;
}


#progressbar li.active:before,
#progressbar li.active:after {
    background: #182bcf;
    color: white;
}

#progressbar li.finish:before,
#progressbar li.finish:after {
    background: #2f8d46;
    color: white;
}


.btn-primary {
    background-color: #233DFF !important;
    color: white !important;
    border-radius: 10px !important;
    border: none !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    padding: 16.5px 20px !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -o-border-radius: 10px !important;
}

.btn-primary:hover {
    background-color: #5165ff !important;
}

.butiLabel {
    margin-bottom: 0 !important;
    padding-bottom:0  !important;
}

.labelSmall {
    color: #000000 !important;
    opacity: 0.5 !important;
}

@media (max-width: 650px) {
    .wrapper {
        height: 40vh;
    }

    #progressbar li:before {
        width: 35px;
        height: 35px;
        line-height: 30px;
        font-size: 14px;
        padding: 0px;
    }
    #progressbar li:after {
        height: 2px;
        background: #3959a5;
        position: absolute;
        left: 100%;
        transform: translateX(-50%);
        top: 18px;
        z-index: -1;
    }
}

